$color-primary: #FF532D;
$color-primary-light: #FF6846;
$color-primary-dark: #B32D10;
$color-secondary: #00B371;
$color-secondary-light: #2DFFB2;
$color-white: #fff;
$color-grey: #939597;
$color-black: #171a19;

$font-family-title: 'Raleway', sans-serif;
$font-family-text: 'Source Sans Pro', sans-serif;

$font-size-text: 16px;

@mixin colors ($bg, $fg) {
  background-color: $bg;
  color: $fg;
}